body {
    display: grid;
    grid-template-columns: 240px 1fr;
    grid-template-rows: 140px 1fr;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.header {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    padding-left: 20px;
    padding-right: 20px;
}

.topBar {
    display: grid;
    grid-template-columns: auto 1fr auto auto auto;
    align-items: center;
    gap: 8px;
}

#searchInput {
    background-color: gainsboro;
    border: 1px solid gainsboro;
    border-radius: 8px;
    margin-right: 48px;
}

.lowBar {
    display: grid;
    grid-template-columns: auto 1fr auto auto auto;
    gap: 8px;
    align-items: center;
}

#introText {
    margin-left: 12px;
}

#hiText {
    font-size: smaller;
}

#userName, #nameTop {
    font-weight: 600;
}

#smallAv {
    height: 36px;
    width: 36px;
    border-radius: 50%;
}

#bigAv {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.headerButt {
    border-radius: 12px;
    background-color: green;
    color: white;
    padding: 6px;
    width: 60px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: green;
    color: white;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

.topSide, .bottomSide {
    margin-top: 25px;
    margin: 25px;
}

.side {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sideIcon {
    margin-left: 10px;
    margin-right: 10px;
}

.mainBody {
    display: grid;
    background-color: gainsboro;
    box-shadow: inset 0 0 4px grey;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto;
}

.projects {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    display: grid;
    grid-template-rows: 60px auto;
    margin: 16px;
}

#projHeader {
    margin-top: 8px;
    margin-bottom: 24px;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 12px;
}

.projCard {
    background-color: white;
    border-left: 6px solid gold;
    box-shadow: 2px 2px 2px 1px grey;
    border-radius: 24px;
    padding: 24px;
    display: flex;
    flex-direction: column;
}

.icons {
    align-self: flex-end;
    justify-self: right;
    margin-top: auto;
}

.announcements {
    width: 300px;
    grid-row-start: 1;
    grid-row-end: 2;
}

#annHeader {
    margin-top: 24px;
    margin-bottom: 24px;
}

.announceCard {
    background-color: white;
    border-radius: 4px;
    box-shadow: 2px 2px 2px 1px grey;
    font-size: smaller;
    padding: 12px;
    padding-left: 24px;
    padding-right: 24px;
    margin-right: 12px;
}

.sec2 {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

.trending {
    width: 300px;
    grid-row-start: 2;
    grid-row-end: 3;
}